# Dependency Directories
node_modules
/server/node_modules # if you have a separate backend node_modules folder

# Build/Output Directories
dist
build
.parcel-cache

# Log files
*.log
npm-debug.log

# Operating System Files
.DS_Store
Thumbs.db